<div class="container">
  <div class="row">
    <div class="col-md-12 header">
      <span class="title">Load Data on load of form Toggle</span>
        <label class="switch">
            <input type="checkbox" [checked]="isChecked" (click)="loadData()">
            <span class="slider round"></span>
          </label>
          <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div
          id="user-data"
          ngModelGroup="userData"
          #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              ngModel
              name="username"
              required
              minlength="8"
              #name="ngModel">
              <!-- {{ f.get('username').valid }} -->
              <span class="error" *ngIf="!name.valid && name.touched && name.errors.required">Please enter a valid User Name!</span>
              <span class="error" *ngIf="!name.valid && name.touched && name.errors.minlength">User Name should have minimum 8 characters!</span>
          </div>
          <div class="form-group">
            <label for="username">Password</label>
            <input
              type="password"
              id="pass"
              class="form-control"
              ngModel
              name="pass"
              required
              minlength="8"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              #pass="ngModel">
              <!-- {{ f.get('username').valid }} -->
              <span class="error" *ngIf="!pass.valid && pass.touched && pass.errors.required">Please enter a valid Password!</span> 
              <span class="error" *ngIf="!pass.valid && pass.touched && pass.errors.minlength">Password should have minimum 8 characters!</span>
              <span class="error" *ngIf="!pass.valid && pass.touched && pass.errors.pattern">Password Should have least one number - one uppercase - lowercase letter!</span>
          </div>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
              #email="ngModel">
            <span class="error" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            id="secret"
            class="form-control"
            [ngModel]="defaultQuestion"
            name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
            name="questionAnswer"
            rows="3"
            class="form-control"
            ngModel
            required
            #answer="ngModel"></textarea>
            <span class="error" *ngIf="!answer.valid && answer.touched">Please enter a valid Security Answer!</span>
        </div>
        <div class="form-group">
          <label for="username">Gender</label>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              name="gender"
              ngModel
              [value]="gender"
              required>
            {{ gender }}
          </label>
        </div>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="f.invalid || f.pristine">Submit</button>

        <button
          class="btn btn-primary"
          type="button"
          (click)="clearForm()"
         >clear Form</button>
      </form>
    </div>
  </div>
  <hr>

  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Username: {{ user.username }}</p>
      <p>Mail: {{ user.email }}</p>
      <p>Secret Question: Your first {{ user.secretQuestion }}</p>
      <p>Answer: {{ user.answer }}</p>
      <p>Gender: {{ user.gender }}</p>
    </div>
  </div>
</div>
